<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923179621431-9405nhdv1ea7pfshosai2rsrto1a66fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923179621431-9405nhdv1ea7pfshosai2rsrto1a66fv</string>
	<key>API_KEY</key>
	<string>AIzaSyCyWvkTr2zoJ4tgDTxP4Tz14TuXF8dCvD8</string>
	<key>GCM_SENDER_ID</key>
	<string>923179621431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juliapak.squaregoogleai</string>
	<key>PROJECT_ID</key>
	<string>squareai-dca2a</string>
	<key>STORAGE_BUCKET</key>
	<string>squareai-dca2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923179621431:ios:9aeb9faee3e04b54bb33b2</string>
</dict>
</plist>